.row
{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.row.odd
{
	background-color: #E3E3E3;
}

.column 
{
	position: relative;
	display: block;
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.projbtn
{
	display: block;
	background-color: #43F5C9;
	color: black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	padding: 16px 24px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.projbtn:hover
{
	background-color: #189C7D;
	color: white;
	font-weight: bolder;
}

img
{
	border-radius: 15%;
	z-index: 1;
}

@media (max-width: 600px) 
{
    .column 
    {
        width: 100%;
    }
}

.main
{
	padding-bottom: 0px;
}