.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.column 
{
	position: relative;
	display: block;
    float: left;
    width: 50%;
    text-align: center;
}

.projbtn
{
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
 	transform: translateX(-50%);
	background-color: #43F5C9;
	color: black;
	font-size: 22px;
	padding: 16px 24px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.projbtn:hover
{
	background-color: #189C7D;
	color: white;
	font-weight: bolder;
}

img
{
	border-radius: 15%;
	opacity: 0.50;
	z-index: 1;
    filter: alpha(opacity=50);
}

@media (max-width: 600px) 
{
    .column 
    {
        width: 100%;
    }
}